<!--
<!DOCTYPE html>
<html>
    <head>
        <title>TITLE !!! HTML</title>
    </head>

    <body>
        <p>Hi there !!!!</p>
        <p>2 Uts fk work!</p>

        <h1>h1</h1>
        <h2>h2</h2>
        <h6>h3</h6>
        <em>em</em>
        <ul><li>first element</li></ul>
        <ul><li>second element</li></ul>
        <br>
        Just siple text!
        <br>

        <ul>
        <li>first element</li>
        <li>second element</li>
        </ul>
        <div>boarder page</div>

    </body>
</html>
-->

<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Im was borned!</p>
        </div>

        <div>
            <p>published: 14.06.2015, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Install unix system.</p>
        </div>
    </body>
</html>